@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #000;
  --text-primary-c : #fff;
}
/* .dark{
  :root {
    --body-bg: #000;
    --text-primary-c : #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #000;
    --text-primary-c : #fff;
  }
} */
html{
  background-color: var(--body-bg);
  color: var(--text-primary-c);
}

.poke-card{
  padding: 20px 10px;
  border-radius: 6px;
  text-align: center;
}

.n-pill{
  padding: 20px 10px;
  border-radius: 6px;
  text-align: center;
}